[*]
indent_style = space
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[{*.json,*.meta,*.sh,*.xslt,*.yaml,*.yml}]
indent_size = 2

[*.sh]
end_of_line = lf

[{*.asmdef,*.js,*.jslib}]
indent_size = 4

[*.cs]
indent_size = 4

# Language rules

## .NET
dotnet_style_qualification_for_event = false:warning
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_predefined_type_for_locals_parameters_members = true:warning
dotnet_style_predefined_type_for_member_access = true:warning
dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning
dotnet_style_readonly_field = true:none
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary:warning
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:warning
dotnet_style_object_initializer = true:warning
dotnet_style_collection_initializer = true:warning
dotnet_style_prefer_auto_properties = true:warning
dotnet_style_explicit_tuple_names = true:warning
dotnet_style_prefer_inferred_tuple_names = true:warning
dotnet_style_prefer_inferred_anonymous_type_member_names = true:warning
dotnet_style_prefer_conditional_expression_over_assignment = true:suggestion
dotnet_style_prefer_conditional_expression_over_return = true:suggestion
dotnet_style_prefer_compound_assignment = true:warning
dotnet_style_prefer_simplified_interpolation = true:warning
dotnet_style_prefer_simplified_boolean_expressions = true:warning
dotnet_style_coalesce_expression = true:warning
dotnet_style_null_propagation = true:warning
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:warning
file_header_template = unset
dotnet_style_namespace_match_folder = false

### Add missing cases to switch statement
dotnet_diagnostic.IDE0010.severity = warning

### Add readonly modifier
dotnet_diagnostic.IDE0044.severity = none

### Use 'System.HashCode.Combine'
dotnet_diagnostic.IDE0070.severity = suggestion

### Convert typeof to nameof
dotnet_diagnostic.IDE0082.severity = warning

### Use conditional expression for return
dotnet_diagnostic.IDE0046.severity = none

## C#
csharp_preferred_modifier_order = public,private,protected,internal,file,new,static,abstract,virtual,sealed,readonly,override,extern,unsafe,volatile,async,required:warning
csharp_style_var_for_built_in_types = true:warning
csharp_style_var_when_type_is_apparent = true:warning
csharp_style_var_elsewhere = true:warning
csharp_style_expression_bodied_constructors = when_on_single_line:suggestion
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_operators = when_on_single_line:warning
csharp_style_expression_bodied_properties = when_on_single_line:warning
csharp_style_expression_bodied_indexers = when_on_single_line:warning
csharp_style_expression_bodied_accessors = when_on_single_line:warning
csharp_style_expression_bodied_lambdas = when_on_single_line:warning
csharp_style_expression_bodied_local_functions = when_on_single_line:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:warning
csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_prefer_switch_expression = true:warning
csharp_style_prefer_pattern_matching = true:warning
csharp_style_prefer_not_pattern = true:warning
csharp_style_prefer_extended_property_pattern = true:warning
csharp_style_inlined_variable_declaration = true:warning
csharp_prefer_simple_default_expression = true:warning
csharp_style_prefer_local_over_anonymous_function = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_prefer_index_operator = true:warning
csharp_style_prefer_range_operator = true:warning
csharp_style_implicit_object_creation_when_type_is_apparent = true:warning
csharp_style_prefer_tuple_swap = true:warning
csharp_style_throw_expression = true:warning
csharp_style_conditional_delegate_call = true:warning
csharp_style_prefer_null_check_over_type_check = true:warning
csharp_prefer_braces = false:warning
csharp_prefer_simple_using_statement = true:warning
csharp_using_directive_placement = outside_namespace:warning
csharp_prefer_static_local_function = true:warning
csharp_style_namespace_declarations = file_scoped:warning
csharp_style_prefer_utf8_string_literals = true:warning
csharp_max_formal_parameters_on_line = 5
csharp_wrap_parameters_style = chop_if_long
csharp_wrap_after_declaration_lpar = true
csharp_wrap_chained_binary_expressions = chop_if_long
csharp_wrap_before_binary_opsign = true
csharp_max_initializer_elements_on_line = 1
csharp_wrap_before_binary_pattern_op = true
csharp_wrap_chained_binary_patterns = wrap_if_long
csharp_force_chop_compound_if_expression = false
csharp_force_chop_compound_while_expression = false
csharp_wrap_arguments_style = chop_if_long
max_line_length = 200
csharp_keep_user_linebreaks = true
csharp_space_between_method_call_name_and_opening_parenthesis = false

### Add missing cases to switch expression
dotnet_diagnostic.IDE0072.severity = suggestion

### Make struct fields writable
dotnet_diagnostic.IDE0064.severity = warning


# Unnecessary code rules

## Microsoft .NET properties

### Simplify name
dotnet_diagnostic.IDE0001.severity = warning

### Simplify member access
dotnet_diagnostic.IDE0002.severity = warning

### Remove unnecessary cast
dotnet_diagnostic.IDE0004.severity = warning

### Remove unnecessary using directives
dotnet_diagnostic.IDE0005.severity = warning

### Remove unreachable code
dotnet_diagnostic.IDE0035.severity = warning

### Remove unused private member
dotnet_diagnostic.IDE0051.severity = none

### Remove unread private member
dotnet_diagnostic.IDE0052.severity = none

### Remove unnecessary suppression operator
dotnet_diagnostic.IDE0080.severity = warning

### Simplify new expression
dotnet_diagnostic.IDE0090.severity = warning

### Remove unnecessary equality operator
dotnet_diagnostic.IDE0100.severity = warning

### Remove unnecessary discard
dotnet_diagnostic.IDE0110.severity = warning

## C#
csharp_style_unused_value_expression_statement_preference = discard_variable:warning
csharp_style_unused_value_assignment_preference = discard_variable:warning
dotnet_code_quality_unused_parameters = all:warning
dotnet_remove_unnecessary_suppression_exclusions = none:warning


# Formatting rules
dotnet_diagnostic.IDE0055.severity = warning

## Microsoft .NET properties
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

## C#
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = one_less_than_current
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = false
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_parentheses = unset
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_around_declaration_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_square_brackets = false
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true
csharp_wrap_ternary_expr_style = wrap_if_long

## ReSharper
csharp_empty_block_style = together
csharp_trailing_comma_in_multiline_lists = true:warning
csharp_trailing_comma_in_singleline_lists = false:warning
csharp_wrap_chained_method_calls = chop_if_long:warning
csharp_wrap_after_dot_in_method_calls = false:warning
csharp_wrap_before_first_method_call = false:warning
csharp_wrap_after_property_in_chained_method_calls = false:suggestion
csharp_nested_ternary_style = expanded:warning


# Naming rules
dotnet_naming_style.camel_case_style.capitalization = camel_case
dotnet_naming_style.pascal_case_style.capitalization = pascal_case
dotnet_naming_style.underscore_camel_case_style.capitalization = camel_case
dotnet_naming_style.underscore_camel_case_style.required_prefix = _

## .NET
dotnet_naming_symbols.constants_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected,private
dotnet_naming_symbols.constants_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_symbols.required_modifiers = const
dotnet_naming_symbols.local_functions_symbols.applicable_accessibilities = *
dotnet_naming_symbols.local_functions_symbols.applicable_kinds = local_function
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers = static
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected,private
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.private_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.non_private_fields_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.non_private_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_readonly_fields_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_readonly_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.private_readonly_fields_symbols.required_modifiers = readonly
dotnet_naming_symbols.non_private_readonly_fields_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.non_private_readonly_fields_symbols.applicable_kinds = field
dotnet_naming_symbols.non_private_readonly_fields_symbols.required_modifiers = readonly

dotnet_naming_rule.constants_rule.symbols = constants_symbols
dotnet_naming_rule.constants_rule.style = pascal_case_style
dotnet_naming_rule.constants_rule.severity = warning
dotnet_naming_rule.local_functions_rule.symbols = local_functions_symbols
dotnet_naming_rule.local_functions_rule.style = pascal_case_style
dotnet_naming_rule.local_functions_rule.severity = warning
dotnet_naming_rule.private_static_fields_rule.symbols = private_static_fields_symbols
dotnet_naming_rule.private_static_fields_rule.style = camel_case_style
dotnet_naming_rule.private_static_fields_rule.severity = warning
dotnet_naming_rule.static_readonly_rule.symbols = static_readonly_symbols
dotnet_naming_rule.static_readonly_rule.style = pascal_case_style
dotnet_naming_rule.static_readonly_rule.severity = warning
dotnet_naming_rule.private_fields_rule.symbols = private_fields_symbols
dotnet_naming_rule.private_fields_rule.style = underscore_camel_case_style
dotnet_naming_rule.private_fields_rule.severity = none
dotnet_naming_rule.non_private_fields_rule.symbols = non_private_fields_symbols
dotnet_naming_rule.non_private_fields_rule.style = pascal_case_style
dotnet_naming_rule.non_private_fields_rule.severity = none
dotnet_naming_rule.private_fields_rule.symbols = private_readonly_fields_symbols
dotnet_naming_rule.private_fields_rule.style = underscore_camel_case_style
dotnet_naming_rule.private_fields_rule.severity = warning
dotnet_naming_rule.non_private_fields_rule.symbols = non_private_readonly_fields_symbols
dotnet_naming_rule.non_private_fields_rule.style = pascal_case_style
dotnet_naming_rule.non_private_fields_rule.severity = warning

## ReSharper
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds =
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance

dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_rule.unity_serialized_field_rule.style = camel_case_style
dotnet_naming_rule.unity_serialized_field_rule.severity = warning
